*{
    font-family: goth;
}

@font-face {
    font-family: goth;
    src: url(../fonts/BankGothicRegular.ttf);
}

#greet{
    background-color: rgb(240, 102, 51);
    width: 50vw;
    height: 100%;
    border-radius: 7px;
}