{% extends 'base/main.html' %}

{% block content %}
<div><button class="btn btn-outline-dark" type="submit" onclick="history.back()" style="color: orangered;">Atrás 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orangered" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
</button></div>
<div class="d-flex justify-content-center"><h1>Perfil de {{datos['nombre_usuario']}}</h1></div>
    

    <div class="d-flex p-2 bd-highlight align-items-center justify-content-center flex-column flex-grow-1 ">
        <!-- mensajes de error -->
        {% for value in errores %}
        <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center align-itmes-center " role="alert">
            <strong>{{value}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

    <div class="jumbotron mt-4 align-items-center bg-dark" id="jumboProfile">
        <h1>Modifique sus credenciales</h1>
        <div style="max-width: inherit;"><!-- info -->
            <a class="btn btn-outline-light" data-bs-toggle="collapse" href="#info" role="button" aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orangered" class="bi bi-question-diamond" viewBox="0 0 16 16">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                  </svg>
              </a>
              <div class="collapse" id="info" style="max-width: inherit;">
                <div class="card card-body bg-dark">
                  Para modificar su nombre de usuario y/o contraseña, debe de ingresar su contraseña actual 
                </div>
              </div>
        </div>
        <br>
        <form action="/updateUser" method="POST">
            <h5>Nombre de usuario</h5>
                <div class="form-group">
                    <input type="text" name='username' class="form-control" placeholder="Nombre de usuario" value="{{datos['nombre_usuario']}}" autofocus>
                </div>
                <br>
            <h5>Contraseña actual</h5>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="password" name='passwordProfile1' class="form-control" placeholder="Contraseña actual" id="passwordProfile1">
                        <button class="btn btn-outline-secondary" type="button" id="buttonSH1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-eye-fill" viewBox="0 0 16 16" id="showpassP1">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                            <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-eye-slash-fill" viewBox="0 0 16 16" id="hidepassP1">
                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                              </svg>
                        </button>
                    </div>
                </div>
                <br>
            <h5>Nueva contraseña</h5>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="password" name='passwordProfile2' class="form-control" placeholder="Nueva contraseña" id="passwordProfile2">
                        <button class="btn btn-outline-secondary" type="button" id="buttonSH2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-eye-fill" viewBox="0 0 16 16" id="showpassP2">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                            <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-eye-slash-fill" viewBox="0 0 16 16" id="hidepassP2">
                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                
                <br>
                <div class="d-flex form-group justify-content-center">
                    <button class="btn btn-outline-light" type="submit" style="color: orangered;">Actualizar Datos</button>
                </div>
    
        </form>

        <br>
        <!-- botones de cerrar sesion y eliminar usuario -->
        <div class="d-flex bd-highlight">
            <button type="button" class="btn btn-outline-warning flex-grow-1" style="margin-right: 2vw;"><a href="/logout" style="text-decoration: none; color: white;">Cerrar Sesion</a></button>
            <button type="button" class="btn btn-outline-danger flex-grow-1"><a id="deleteId" style="text-decoration: none; color: rgb(247, 247, 247);">Eliminar Cuenta</a></button>
        </div>
    </div>
    
    </div>
</div>

<script src="../static/js/pw.js"> </script>
{% endblock %}