{% extends 'base/main.html' %}

{% block content %}

<!-- boton de volver a inicio -->
<div><a class="btn btn-outline-dark" href="/home" style="color: orangered;">Inicio 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orangered" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
      </svg>
    </a>
</div>

<div class="d-flex justify-content-center">
    {% for value in buscar %}
    <h1>Resultados para la búsqueda <h1 style="color: orangered; margin-left: 1vw;">{{value}}</h1></h1>
    {% endfor %}
</div>

<!-- mostrar las imagenes -->
{% if imagenes %}
    <div class="jumbotorn mt-4">
        <div class=" row  row-cols-md-4 " style="padding: 2vh;">
        {% for value in imagenes %}
        <div class="col">
            <div class="card border border-1 rounded-1" style="margin-bottom: 2vh; border-color: orangered;">
                <img src="../static/uploads/{{value['ruta_imagen']}}" class="card-img-top" style="width: auto; height: 20vh;">
                <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{value['nombre_imagen']}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Autor: {{value['autor']}}</li>
                    <li class="list-group-item">Tags:
                        {% for tag in value['nonum'] %}
                        <a href="/image/tag/{{tag}}" style="margin-right: 0.5vw; text-decoration: none; color: orangered;">#{{tag}}</a>
                        {% endfor %}
                    </li>
                </ul>
        
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center align-content-center">
            <h1>No se encontraron resultados</h1>
            <button type="button" data-bs-placement="bottom" class="btn btn-outline-light border rounded-circle" 
            data-bs-toggle="tooltip" data-bs-html="true" title="*Verifique las mayúsculas (case-sensitive-search) *Ingrese sólo un tag por búqueda Ej: #2021">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orangered" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                  </svg>
            </button>
        </div>
    </div>
{% endif %}

{% endblock %} 